{% extends 'base.html' %}

{% block content %}
<!-- top -->
<div class="container">
    <h3 class="my-3">{{ article.title }}</h3>
    <div class="d-flex justify-content-end my-3">
        <a href="{% url 'articles:update' article.pk %}" class="mx-1">
            <div class="btn btn-outline-secondary">
                <span class="text-dark">수정</span>
            </div>
        </a>
        <a href="{% url 'articles:delete' article.pk %}">
            <div class="btn btn-outline-secondary">
                <span class="text-dark">삭제</span>
            </div>
        </a>    
    </div>
</div>
<hr>

<!-- body -->
<div class="container">
    <p>{{ article.content }}</p>
</div>

<!-- bottom -->
<div class="container d-flex justify-content-end">
    <div class="position-fixed bottom-0  flex-column ">
        <p class="text-muted">작성 시간 : {{ article.created_at }}</p>
        <p class="text-muted">수정 시간 : {{ article.updated_at }}</p>
    </div>
</div>
{% endblock %}