{% extends 'base.html' %}

{% block content %}
<!-- <h1>글 수정하기</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ article_form.as_p }}
    <input type="submit" value="수정">
</form> -->

<h1 class="text-center m-3">글 수정하기</h1>
<div class="text-center">
    <form action="" method="POST" class="form-control">
        {% csrf_token %}
        <div>
            <p>제목</p>
            <p>{{ article_form.title }}</p>
        </div>
        <div>
            <p>내용</p>ㅉㅉㅈ
            <p>{{ article_form.content }}</p>
        </div>
        <input type="submit" value="수정" class="btn btn-outline-secondary text-dark">
    </form>
</div>
{% endblock %}