{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!-- nav -->
<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid">
    <!-- logo -->
    <a href="{% url 'movie:movies' %}" class="navbar-brand">
      <img src="{% static 'images/logo.png' %}" alt="logo" width="100" height="100" class="border border-gray rounded-3">
    </a>

    <!-- list -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active fs-5" aria-current="page" href="{% url 'movie:movies' %}">목록</a>
        <a class="nav-link active fs-5" href="{% url 'movie:create' %}">추가</a>
      </div>
    </div>
  </nav>
  <hr>

  <!-- body -->
  <!-- <h1 class="container text-center">작성하기</h1> -->

  <div class="container text-center">
    {% if request.path == '/create/' %}
      <h1>작성하기</h1>
    {% elif request.path == '/update/' %}
      <h1>수정하기</h1>
    {% endif %}
    <form action="{% url 'movie:movies' %}" class="form-control  border border-white">
      {% csrf_token %}
      {% bootstrap_form movies_form %}
      <input type="submit" value="등록" class="btn btn-outline-secondary text-dark">
    </form>
  </div>
